<?xml version="1.0" encoding="utf-8" ?>
<Routing xmlns="http://www.cybermap.pt/toolkit/apps/config">
  <Http-Route-Base-Url>_api</Http-Route-Base-Url>
  <HttpRoute>
    <Template>{controller}/{action}/{id}</Template>
  </HttpRoute>
  <HttpRoute>
    <Template>{controller}/{id}</Template>
  </HttpRoute>
</Routing>

