<?xml version="1.0" encoding="utf-8" ?>
<Services xmlns="http://www.cybermap.pt/toolkit/apps/config">

  <!-- Tick -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-TOOLKIT-TICKER-TICK</Name>
    <Description></Description>
    <Contract>Toolkit.Ticker.Api.Interface.ITick</Contract>
    <Type>Toolkit.Ticker, Toolkit.Ticker.Api.Default.SrvTick</Type>
    <Settings>
      <Setting>
        <Name>OBJECT-SOURCE-PROVIDER</Name>
        <Value>
          <![CDATA[
            <ProviderConfig xmlns="http://www.cybermap.pt/toolkit/core">
              <Type>Cofaco.SGQ: Cofaco.SGQ.Server.Data.EF.ObjSrcStringBase[Toolkit.Ticker: Toolkit.Ticker.Model.Tick]</Type>
            </ProviderConfig>
          ]]>
        </Value>
      </Setting>
    </Settings>
  </Service>

  <!-- Runtime -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-TOOLKIT-TICKER-RUNTIME</Name>
    <Description></Description>
    <Contract>Toolkit.Ticker.Api.Interface.IRuntime</Contract>
    <Type>Toolkit.Ticker, Toolkit.Ticker.Api.Default.SrvRuntime</Type>
    <Settings>
      <Setting>
        <Name>OBJECT-SOURCE-PROVIDER</Name>
        <Value>
          <![CDATA[
            <ProviderConfig xmlns="http://www.cybermap.pt/toolkit/core">
              <Type>Cofaco.SGQ: Cofaco.SGQ.Server.Data.EF.ObjSrcStringBase[Toolkit.Ticker: Toolkit.Ticker.Model.Runtime]</Type>
            </ProviderConfig>
          ]]>
        </Value>
      </Setting>
    </Settings>
  </Service>

  <!-- Manager -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-TOOLKIT-TICKER-MANAGER</Name>
    <Description></Description>
    <Contract>Toolkit.Ticker.Api.Interface.IManager</Contract>
    <Type>Toolkit.Ticker, Toolkit.Ticker.Api.Default.SrvManager</Type>
  </Service>

</Services>