<?xml version="1.0" encoding="utf-8" ?>
<Services xmlns="http://www.cybermap.pt/toolkit/apps/config">

  <Service>
    <Scope>SERVICE</Scope>
    <Name>SERVICE-Resources</Name>
    <Description></Description>
    <Contract>Toolkit.Apps.Web.Framework.Services.Interface.IResources</Contract>
    <Type>Toolkit.Apps.Web.Framework, Toolkit.Apps.Web.Framework.Services.Default.Resources</Type>
    <Settings>
      <Setting>
        <Name>BASE-FOLDER</Name>
        <Value>Data\Resources</Value>
      </Setting>
    </Settings>
  </Service>

  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-Resource-Bundle</Name>
    <Description></Description>
    <Contract>Toolkit.Apps.Web.Framework.Services.Interface.IResourceBundle</Contract>
    <Type>Toolkit.Apps.Web.Framework, Toolkit.Apps.Web.Framework.Services.Default.ResourceBundle</Type>
    <Settings>
      <Setting>
        <Name>BASE-FOLDER</Name>
        <Value>Data\Resources</Value>
      </Setting>
    </Settings>
  </Service>

  <Service>
    <Scope>REQUEST</Scope>
    <Name>SERVICE-Resolver</Name>
    <Description></Description>
    <Contract>Toolkit.Apps.Web.Framework.Services.Interface.IResolver</Contract>
    <Type>Toolkit.Apps.Web.Framework, Toolkit.Apps.Web.Framework.Services.Default.Resolver</Type>
  </Service>

  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-Tokens</Name>
    <Description></Description>
    <Contract>Toolkit.Apps.Web.Framework.Services.Interface.ITokens</Contract>
    <Type>Toolkit.Apps.Web.Framework, Toolkit.Apps.Web.Framework.Services.Default.Tokens</Type>
  </Service>

</Services>