<?xml version="1.0" encoding="utf-8" ?>
<Services xmlns="http://www.cybermap.pt/toolkit/apps/config">

  <!-- MenuEntry -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-TOOLKIT-IMS-MENU-ENTRY</Name>
    <Description></Description>
    <Contract>Toolkit.IMS.Api.Interface.IMenuEntry</Contract>
    <Type>Toolkit.IMS, Toolkit.IMS.Api.Default.SrvMenuEntry</Type>
    <Settings>
      <Setting>
        <Name>OBJECT-SOURCE-PROVIDER</Name>
        <Value>
          <![CDATA[
            <ProviderConfig xmlns="http://www.cybermap.pt/toolkit/core">
              <Type>Cofaco.SGQ: Cofaco.SGQ.Server.Framework.Data.ObjSrcBase[Toolkit.IMS: Toolkit.IMS.Model.MenuEntry]</Type>
            </ProviderConfig>
          ]]>
        </Value>
      </Setting>
    </Settings>
  </Service>

  <!-- Menu -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-TOOLKIT-IMS-MENU</Name>
    <Description></Description>
    <Contract>Toolkit.IMS.Api.Interface.IMenu</Contract>
    <Type>Toolkit.IMS, Toolkit.IMS.Api.Default.SrvMenu</Type>
  </Service>

</Services>