<?xml version="1.0" encoding="utf-8" ?>
<Services xmlns="http://www.cybermap.pt/toolkit/apps/config">

  <!-- Log -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-TOOLKIT-LOGGING-LOG</Name>
    <Description></Description>
    <Contract>Toolkit.Logging.Api.Interface.ILog</Contract>
    <Type>Toolkit.Logging, Toolkit.Logging.Api.Default.SrvLog</Type> 
  </Service>

  <!-- LogEntry -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-TOOLKIT-LOGGING-LOGENTRY</Name>
    <Description></Description>
    <Contract>Toolkit.Logging.Api.Interface.ILogEntry</Contract>
    <Type>Toolkit.Logging, Toolkit.Logging.Api.Default.SrvLogEntry</Type>
    <Settings>
      <Setting>
        <Name>OBJECT-SOURCE-PROVIDER</Name>
        <Value>
          <![CDATA[
            <ProviderConfig xmlns="http://www.cybermap.pt/toolkit/core">
              <Type>Cofaco.SGQ: Cofaco.SGQ.Server.Data.EF.ObjSrcBase[Toolkit.Logging: Toolkit.Logging.Model.LogEntry]</Type>
            </ProviderConfig>
          ]]>
        </Value>
      </Setting>
    </Settings>
  </Service>

</Services>