<?xml version="1.0" encoding="utf-8" ?>
<Services xmlns="http://www.cybermap.pt/toolkit/apps/config">

  <!-- Entry -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-TOOLKIT-LOCALIZATION-RESOURCE-ENTRY</Name>
    <Description></Description>
    <Contract>Toolkit.Localization.Api.Interface.IEntry</Contract>
    <Type>Toolkit.Localization, Toolkit.Localization.Api.Default.SrvEntry</Type>
    <Settings>
      <Setting>
        <Name>OBJECT-SOURCE-PROVIDER</Name>
        <Value>
          <![CDATA[
            <ProviderConfig xmlns="http://www.cybermap.pt/toolkit/core">
              <Type>Cofaco.SGQ: Cofaco.SGQ.Server.Framework.Data.ObjSrcBase[Toolkit.Localization: Toolkit.Localization.Model.Entry]</Type>
            </ProviderConfig>
          ]]>
        </Value>
      </Setting>
    </Settings>
  </Service>

  <!-- Culture -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-TOOLKIT-LOCALIZATION-CULTURE</Name>
    <Description></Description>
    <Contract>Toolkit.Localization.Api.Interface.ICulture</Contract>
    <Type>Toolkit.Localization, Toolkit.Localization.Api.Default.SrvCulture</Type>
    <Settings>
      <Setting>
        <Name>OBJECT-SOURCE-PROVIDER</Name>
        <Value>
          <![CDATA[
            <ProviderConfig xmlns="http://www.cybermap.pt/toolkit/core">
              <Type>Cofaco.SGQ: Cofaco.SGQ.Server.Framework.Data.ObjSrcBase[Toolkit.Localization: Toolkit.Localization.Model.Culture]</Type>
            </ProviderConfig>
          ]]>
        </Value>
      </Setting>
    </Settings>
  </Service>

  <!-- Resources -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-TOOLKIT-LOCALIZATION-RESOURCES</Name>
    <Description></Description>
    <Contract>Toolkit.Localization.Api.Interface.IResources</Contract>
    <Type>Toolkit.Localization, Toolkit.Localization.Api.Default.SrvResources</Type>
  </Service>

  <!-- Locales -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-TOOLKIT-LOCALIZATION-LOCALES</Name>
    <Description></Description>
    <Contract>Toolkit.Localization.Api.Interface.ILocale</Contract>
    <Type>Toolkit.Localization, Toolkit.Localization.Api.Default.SrvLocale</Type>
  </Service>

</Services>