<?xml version="1.0" encoding="utf-8" ?>
<Services xmlns="http://www.cybermap.pt/toolkit/apps/config">

  <!-- Notification-Event -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-TOOLKIT-COMM-NOTIFICATION-EVENT</Name>
    <Description></Description>
    <Contract>Toolkit.Comm.Api.Contract.INotificationEvent</Contract>
    <Type>Toolkit.Comm, Toolkit.Comm.Api.Default.SrvNotificationEvent</Type>
    <Settings>
      <Setting>
        <Name>OBJECT-SOURCE-PROVIDER</Name>
        <Value>
          <![CDATA[
            <ProviderConfig xmlns="http://www.cybermap.pt/toolkit/core">
              <Type>Cofaco.SGQ: Cofaco.SGQ.Server.Data.EF.ObjSrcBase[Toolkit.Comm: Toolkit.Comm.Model.NotificationEvent]</Type>
            </ProviderConfig>
          ]]>
        </Value>
      </Setting>
    </Settings>
  </Service>

  <!-- Notification -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-TOOLKIT-COMM-NOTIFICATION</Name>
    <Description></Description>
    <Contract>Toolkit.Comm.Api.Contract.INotification</Contract>
    <Type>Toolkit.Comm, Toolkit.Comm.Api.Default.SrvNotification</Type>
    <Settings>
      <Setting>
        <Name>OBJECT-SOURCE-PROVIDER</Name>
        <Value>
          <![CDATA[
            <ProviderConfig xmlns="http://www.cybermap.pt/toolkit/core">
              <Type>Cofaco.SGQ: Cofaco.SGQ.Server.Data.EF.ObjSrcBase[Toolkit.Comm: Toolkit.Comm.Model.Notification]</Type>
            </ProviderConfig>
          ]]>
        </Value>
      </Setting>
    </Settings>
  </Service>

  <!-- Multiplexer -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-TOOLKIT-COMM-MULTIPLEXER</Name>
    <Description></Description>
    <Contract>Toolkit.Comm.Api.Contract.IMultiplexer</Contract>
    <Type>Cofaco.SGQ.Client.Api, Cofaco.SGQ.Client.Api.Services.Default.SrvNotificationMultiplexer</Type>
    <Settings>
      <Setting>
        <Name>OBJECT-SOURCE-PROVIDER</Name>
        <Value>
          <![CDATA[
            <ProviderConfig xmlns="http://www.cybermap.pt/toolkit/core">
              <Type>Cofaco.SGQ.Client.Data: Cofaco.SGQ.Client.Data.EF.ObjSrcBase[Toolkit.Comm: Toolkit.Comm.Model.Notification]</Type>
            </ProviderConfig>
          ]]>
        </Value>
      </Setting>
    </Settings>
  </Service>

  <!-- Manager -->
  <Service>
    <Scope>REQUEST</Scope>
    <Name>SERVICE-TOOLKIT-COMM-MANAGER</Name>
    <Description></Description>
    <Contract>Toolkit.Comm.Api.Contract.IManager</Contract>
    <Type>Toolkit.Comm, Toolkit.Comm.Api.Default.SrvManager</Type>
    <Settings>
      <Setting>
        <Name>MULTIPLEXER-SERVICE-NAME</Name>
        <Value>SERVICE-TOOLKIT-COMM-MULTIPLEXER</Value>
      </Setting>
      <Setting>
        <Name>NOTIFICATION-EVENT-SERVICE-NAME</Name>
        <Value>SERVICE-TOOLKIT-COMM-NOTIFICATION-EVENT</Value>
      </Setting>
      <Setting>
        <Name>NOTIFICATION-SERVICE-NAME</Name>
        <Value>SERVICE-TOOLKIT-COMM-NOTIFICATION</Value>
      </Setting>
    </Settings>
  </Service>

</Services>