<?xml version="1.0" encoding="utf-8" ?>
<App xmlns="http://www.cybermap.pt/toolkit/apps/config">
  <Name>Cofaco-SGQ</Name>
  <Version>0.1</Version>
  <Author>João Carreiro (joaopaulocarreiro@gmail.com)</Author>
  <Description>Sistema de Gestão de Qualidade</Description>
  <Icon>~/_data/_images/logo.jpg</Icon>
  <!-- TOKENS -->
  <!--
  <Tokens>
    <File name="_config/tokens.config" />
  </Tokens>
  -->
  <!-- LOCALIZATION CONFIGURATION -->
  <Localization>
    <File name="_config/localization.config" />
  </Localization>
  <!-- PAGE CONFIGURATION -->
  <Pages>
    <File name="_config/pages-routing.config" />
  </Pages>
  <!-- SERVICE CONFIGURATION -->
  <Services>
    <File name="_config/services-framework.config" />
    <File name="_config/services-init.config" />
    <File name="_config/services-app.config" />
    <File name="_config/services-cms.config" />
    <File name="_config/services-logging.config" />
    <File name="_config/services-ticker.config" />
    <File name="_config/services-localization.config" />
    <File name="_config/services-ims.config" />
  </Services>
  <!-- HANDLER CONFIGURATION -->
  <Handlers>
    <File name="_config/handlers.config" />
  </Handlers>
  <!-- ASSEMBLY CONFIGURATION -->
  <Assemblies>
    <File name="_config/assemblies.config" />
  </Assemblies>
  <!-- ROUTING -->
  <Routing>
    <File name="_config/routing.config" />
  </Routing>
</App>