<?xml version="1.0" encoding="utf-8" ?>
<Localization xmlns="http://www.cybermap.pt/toolkit/apps/config">
  <Default>pt-pt</Default>
  <Supported>
    <Culture>
      <Key>pt-pt</Key>
      <Name>PT</Name>
      <Url-Fragment>pt</Url-Fragment>
    </Culture>
    <Culture>
      <Key>en</Key>
      <Name>EN</Name>
      <Url-Fragment>en</Url-Fragment>
    </Culture>
  </Supported>
</Localization>