<?xml version="1.0" encoding="utf-8" ?>
<Pages xmlns="http://www.cybermap.pt/toolkit/apps/config">
  <Folder>
    <FilePattern>*.aspx</FilePattern>
    <Location>~/Client/</Location>
    <Friendly>${FilenameWithoutExtension}</Friendly>
  </Folder>
  <DefaultPage>~/Client/index.aspx</DefaultPage>
</Pages>