<?xml version="1.0" encoding="utf-8" ?>
<Pages xmlns="http://www.cybermap.pt/toolkit/apps/config">
  <Folder>
    <FilePattern>*.aspx</FilePattern>
    <Location>~/Client/BackOffice/</Location>
    <Friendly>backoffice/${FilenameWithoutExtension}</Friendly>
  </Folder>
  <!--
  <Folder>
    <FilePattern>*.aspx</FilePattern>
    <Location>~/Client/FrontOffice/</Location>
    <Friendly>${FilenameWithoutExtension}</Friendly>
  </Folder>
  -->
  <DefaultPage>~/Client/BackOffice/index.aspx</DefaultPage>
</Pages>