<?xml version="1.0" encoding="utf-8" ?>
<Services xmlns="http://www.cybermap.pt/toolkit/apps/config">

  <!-- USER -->
  <Service>
    <Scope>REQUEST</Scope>
    <Name>SERVICE-APP-USER</Name>
    <Description></Description>
    <Contract>Cofaco.SGQ.Server.API.Interface.IUser</Contract>
    <Type>Cofaco.SGQ, Cofaco.SGQ.Server.API.Default.SrvUser</Type>
  </Service>

  <!-- STATS -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-APP-STATS</Name>
    <Description></Description>
    <Contract>Cofaco.SGQ.Server.API.Interface.IStats</Contract>
    <Type>Cofaco.SGQ, Cofaco.SGQ.Server.API.Default.SrvStats</Type>
  </Service>

  <!-- CHARTS -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-APP-CHARTS</Name>
    <Description></Description>
    <Contract>Cofaco.SGQ.Server.API.Interface.IChart</Contract>
    <Type>Cofaco.SGQ, Cofaco.SGQ.Server.API.Default.SrvChart</Type>
    <Settings>
      <Setting>
        <Name>OBJECT-SOURCE-PROVIDER</Name>
        <Value>
          <![CDATA[
            <ProviderConfig xmlns="http://www.cybermap.pt/toolkit/core">
              <Type>Cofaco.SGQ: Cofaco.SGQ.Server.Data.EF.ObjSrcBase[Cofaco.SGQ: Cofaco.SGQ.Server.Model.Charting.Chart]</Type>
            </ProviderConfig>
          ]]>
        </Value>
      </Setting>
    </Settings>
  </Service>

  <!-- TEMP -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-APP-OCC</Name>
    <Description></Description>
    <Contract>Cofaco.SGQ.Server.Temp.IOcc</Contract>
    <Type>Cofaco.SGQ, Cofaco.SGQ.Server.Temp.SrvOcc</Type>
    <Settings>
      <Setting>
        <Name>OBJECT-SOURCE-PROVIDER</Name>
        <Value>
          <![CDATA[
            <ProviderConfig xmlns="http://www.cybermap.pt/toolkit/core">
              <Type>Cofaco.SGQ: Cofaco.SGQ.Server.Data.EF.ObjSrcBase[Cofaco.SGQ: Cofaco.SGQ.Server.Temp.Occ]</Type>
            </ProviderConfig>
          ]]>
        </Value>
      </Setting>
    </Settings>
  </Service>

</Services>