<?xml version="1.0" encoding="utf-8" ?>
<Services xmlns="http://www.cybermap.pt/toolkit/apps/config">

  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-TOOLKIT-FRAMEWORK-SEED</Name>
    <Description></Description>
    <Contract>Toolkit.Apps.Web.Framework.Services.Interface.ISeed</Contract>
    <Type>Toolkit.Apps.Web.Framework, Toolkit.Apps.Web.Framework.Services.Default.Seed</Type>
    <Settings>
      <Setting>
        <Name>DATA-FOLDER</Name>
        <Value>_data\_seed</Value>
      </Setting>
      <Setting>
        <Name>SEED-FILENAME</Name>
        <Value>_seed.json</Value>
      </Setting>
    </Settings>
  </Service>

</Services>