<?xml version="1.0" encoding="utf-8" ?>
<Services xmlns="http://www.cybermap.pt/toolkit/apps/config">

  <!-- CLUSTER -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-TOOLKIT-CMS-CLUSTER</Name>
    <Description></Description>
    <Contract>Toolkit.CMS.Api.Interface.ICluster</Contract>
    <Type>Toolkit.CMS, Toolkit.CMS.Api.Default.SrvCluster</Type>
    <Settings>
      <Setting>
        <Name>OBJECT-SOURCE-PROVIDER</Name>
        <Value>
          <![CDATA[
            <ProviderConfig xmlns="http://www.cybermap.pt/toolkit/core">
              <Type>Cofaco.SGQ: Cofaco.SGQ.Server.Data.EF.ObjSrcBase[Toolkit.CMS: Toolkit.CMS.Model.Cluster]</Type>
            </ProviderConfig>
          ]]>
        </Value>
      </Setting>
    </Settings>
  </Service>

  <!-- ENTITY -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-TOOLKIT-CMS-ENTITY</Name>
    <Description></Description>
    <Contract>Toolkit.CMS.Api.Interface.IEntity</Contract>
    <Type>Toolkit.CMS, Toolkit.CMS.Api.Default.SrvEntity</Type>
    <Settings>
      <Setting>
        <Name>OBJECT-SOURCE-PROVIDER</Name>
        <Value>
          <![CDATA[
            <ProviderConfig xmlns="http://www.cybermap.pt/toolkit/core">
              <Type>Cofaco.SGQ: Cofaco.SGQ.Server.Data.EF.ObjSrcBase[Toolkit.CMS: Toolkit.CMS.Model.Entities.Entity]</Type>
            </ProviderConfig>
          ]]>
        </Value>
      </Setting>
    </Settings>
  </Service>

  <!-- VIEW -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-TOOLKIT-CMS-VIEW</Name>
    <Description></Description>
    <Contract>Toolkit.CMS.Api.Interface.IView</Contract>
    <Type>Toolkit.CMS, Toolkit.CMS.Api.Default.SrvView</Type>
    <Settings>
      <Setting>
        <Name>OBJECT-SOURCE-PROVIDER</Name>
        <Value>
          <![CDATA[
            <ProviderConfig xmlns="http://www.cybermap.pt/toolkit/core">
              <Type>Cofaco.SGQ: Cofaco.SGQ.Server.Data.EF.ObjSrcBase[Toolkit.CMS: Toolkit.CMS.Model.Entities.View]</Type>
            </ProviderConfig>
          ]]>
        </Value>
      </Setting>
    </Settings>
  </Service>

  <!-- CONTENT-TYPE -->
  <Service>
    <Scope>APP</Scope>
    <Name>SERVICE-TOOLKIT-CMS-CONTENT-TYPE</Name>
    <Description></Description>
    <Contract>Toolkit.CMS.Api.Interface.IContentType</Contract>
    <Type>Toolkit.CMS, Toolkit.CMS.Api.Default.SrvContentType</Type>
    <Settings>
      <Setting>
        <Name>OBJECT-SOURCE-PROVIDER</Name>
        <Value>
          <![CDATA[
            <ProviderConfig xmlns="http://www.cybermap.pt/toolkit/core">
              <Type>Cofaco.SGQ: Cofaco.SGQ.Server.Data.EF.ObjSrcBase[Toolkit.CMS: Toolkit.CMS.Model.Types.ContentType]</Type>
            </ProviderConfig>
          ]]>
        </Value>
      </Setting>
    </Settings>
  </Service>

  <!-- DML -->
  <Service>
    <Scope>REQUEST</Scope>
    <Name>SERVICE-TOOLKIT-CMS-DML</Name>
    <Description></Description>
    <Contract>Toolkit.CMS.Api.Interface.IDML</Contract>
    <Type>Toolkit.CMS, Toolkit.CMS.Api.Default.SrvDML</Type>
  </Service>

</Services>