/*
   ============================================================================
   Project: Toolkit Angular
   Name/Class:
   Created On: 14/Oct/2015
   Author: João Carreiro (joao.carreiro@cybermap.pt)
   Company: Cybermap Lda.
   Description:
   ============================================================================
*/

/* toolbar */
.chart-builder-view .toolbar,
.chart-builder-view .toolbar .btn,
.chart-builder-view .toolbar .input-group-addon,
.chart-builder-view .toolbar input,
.chart-builder-view .toolbar select {
    border-color: #eAeAeA;
}
.chart-builder-view .toolbar .form-group {
   margin-right: 3px;
}
.chart-builder-view .toolbar .form-group:last-child {
    margin-right:0;
}
