/*
   ============================================================================
   Project: Toolkit Angular
   Name/Class:
   Created On: 14/Oct/2015
   Author: João Carreiro (joao.carreiro@cybermap.pt)
   Company: Cybermap Lda.
   Description:
   ============================================================================
*/

/* toolbar */
.entity-view .toolbar,
.entity-view .toolbar .btn,
.entity-view .toolbar .input-group-addon,
.entity-view .toolbar input,
.entity-view .toolbar select {
    border-color: #ddd;
}
.entity-view .toolbar .form-group {
    margin-right: 3px;
}
.entity-view .toolbar .form-group:last-child {
    margin-right:0;
}
/* layout: LIST */
.entity-view .list img {
    max-width: 48px;
}
.entity-view .list .list-group-item {
    margin-bottom: 3px;
    padding:8px;
}
.entity-view .list .list-group-item .btn-toolbar {
    margin-left: -3px;
}
.entity-view .list .list-group-item .btn-toolbar .btn-group {
    margin-left: 3px;
}
.entity-view .list .list-group-item .btn-toolbar .btn {
    border-color: #ddd;
}
/* layout: GRID */
.entity-view .grid .card {
    margin:0;
}
.entity-view .grid .btn-toolbar .btn {
    border-color: #eAeAeA;
}
/* layout: TABLE */
.entity-view .table {
    background-color:#fff;
}
.entity-view .table .col-image {
    max-width:64px;
    min-width:64px;
}
.entity-view .table .btn-toolbar .btn {
    border-color: #eAeAeA;
}


